#nav-bar{
    position:fixed;
    text-align:center;
    padding:20px;
    margin:0 auto;
    }
  
  li{
    display:inline;
    text-transform:uppercase; 
  }
  
  .nav-link{
  margin:30px;
  font-weight:bold;
  font-family:sans-serif;
  }
  
  #email{
    width:300px;
    height:30px;
    border-width:2px;
    border-radius:8px;
  
  }
  
  #submit{
    margin:20px;
    text-align:left;
    height:40px;
    width:100px;
    background-color:#2ea;
    
  
  }
  
  
    @media (min-width:400px){
    #header{
      font-size:18px;
    }
  }
  
  #form{
    display:flex;
    padding:10px;  
  }
  
  
  .navigation{
    background-color:rgba(169 169 169);
  }
  
  .descriptions{
   background-color:#D2494C;
  }
  
  h3{
    text-align:center;
  }